<html>
  <head>
    {% if title %}
    <title>{{ title }} - GetTweets& GithubRepo</title>
    {% else %}
    <title>Githubrepo And Tweets </title>
    {% endif %}
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-responsive.min.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-responsive.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
<h2 size="56" allign='left' ><a href="/index">GetTweets And GitHub Repos</a></h2>
<s1  style="float:right;text-size:25px;">   {% if current_user.is_authenticated() %}
        {{current_user.username}}<a href="/logout"> Logout</a>
{% elif current_user.is_anonymous() %}
        Guest<a align='left' href="/login"> Login</a><br><a href="/register">&nbsp;&nbsp;&nbsp;Register&nbsp;&nbsp;</a>
{% endif %}</s1><br>{%if current_user.is_authenticated() and not current_user.confirm%}<div style="color: red;text-align:right;" size="20">please confirm your email</div>{%endif%}<br><hr>
{% block content %}{% endblock %}
</html>
